.button-primary{
	font-family: $font-family-sans; 
	border: 3px solid $blue;
	background-color: $grayLight;
	color: $blue;
	-webkit-box-shadow: none; 
	box-shadow: none; 
}


//default button
.btn-fun {
	color: $gray;
	cursor: pointer;
	display: block;
	font-size:1em;
	font-weight: 400;
	line-height: 3;
	margin: 1em auto 0;
	display: inline-block;
	display: block;
	text-align: center;
	max-width: 160px; 
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%; 
  
  // @media(min-width: 400px) {
  
  //   &:nth-of-type(even) {
  //     margin-right: 0;
  //   }
  // }
  
  @media(min-width: 600px) {
  
    &:nth-of-type(even) {
      margin-right: 2.5em;
    }
    
    &:nth-of-type(5) {
      margin-right: 0;
    }
    
  }
  
  &:hover { text-decoration: none; }
  
}

////////////////////////////
//button two
//////////////////////////
.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba($gray, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: $gray;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}